<div class="page">

    <div class="top-section">
        <div class="logo-area">
            <img class="logo" src="../../../assets/guild_logo_trans.png"/>
        </div>
        <div class="title-area">
            <div class="title">
                SWGOH Order 66
            </div>
        </div>
    </div>
    <div class="subtitle-section">
        <div class="subtitle">
            The conspiracy has been executed...<div class="cta">Join Us</div>
        </div>
    </div>

    <div class="details-section">
        <!-- <div class="bullets">
            <div class="bullet">Veteran and New Players Welcome!</div>
            <div class="bullet">600 daily ticket requirement</div>
            <div class="bullet">Heroic Pit and AAT Raids</div>
        </div> -->
        
        <div class="others">
            <div class="other">
                <div class="person-dot">
                    <i class="material-icons">person</i>
                </div>
                <div class="other-text">Veteran and New Players Welcome! 600 daily ticket requirement</div>
            </div>
            <div class="other">
                <div class="person-dot">
                    <i class="material-icons">security</i>
                </div>
                <div class="other-text">Heroic Pit and AAT Raids</div>
            </div>
            <div class="other">
                <img class="discord" src="../../../assets/discord-logo.png"/>
                <div class="other-text">Hop in the discord for memes and plans on Raids, Territory Wars & Battles.</div>
            </div>
        </div>
    </div>

</div>
<img class="bg-image" src="../../../assets/Order 66 Bush Did.jpg"/>