<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">

    <div class="form-field">
        <input id="username" type="text" formControlName="username">
        <label for="username"> username </label>
    </div>
    <div class="form-field">
        <input id="email" type="email" formControlName="email">
        <label for="email"> email </label>
    </div>
    <div class="form-field">
        <input id="password" type="password" formControlName="password">
        <label for="password"> password </label>
    </div>
    <div class="form-field">
        <input id="confirmpassword" type="password" formControlName="confirmpassword">
        <label for="confirmpassword"> confirm password </label>
    </div>
    
    <div class="accept-box">
        <div class="form-field">
            <input id="acceptcookies" type="checkbox" formControlName="acceptcookies">
            <div> I agree to allow the use of cookies for the purposes of keeping me logged in while actively using www.bransonsmithdev.com </div>
        </div>
    </div>

    <button type="submit">Submit</button>
    <div class="validation-text" *ngIf="validationText.length > 0">{{validationText}}</div>

</form>