.hole {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #333333;
}

.hole-content {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.score {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.score-text {
    width: fit-content;
    margin: auto;
}

.dots {
    width: fit-content;
    margin: auto;
}


.ace {
    color: black;
    font-weight: bold;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: linear-gradient(25deg, var(--discgolf-eagle), var(--discgolf-birdie), var(--accent-color));
    border: 2px solid var(--discgolf-birdie);
    box-shadow: 0px 0px 20px var(--discgolf-birdie);
    border-radius: 4px;
}
.eagle {
    background-color: var(--background-d);
    color: var(--discgolf-eagle);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px solid var(--discgolf-eagle);
    border-radius: 4px;
}
.birdie {
    background-color: var(--background-d);
    color: var(--discgolf-birdie);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px solid var(--discgolf-birdie);
    border-radius: 4px;
}
.par {
    /* background-color: var(--discgolf-par); */
    background-color: var(--background-d);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px solid var(--discgolf-par);
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px var(--discgolf-par); */
    color: var(--discgolf-par);
}
.bogey {
    /* background-color: var(--discgolf-bogey); */
    background-color: var(--background-d);
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px solid var(--discgolf-bogey);
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px var(--discgolf-bogey); */
    color: var(--discgolf-bogey);
}