@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { 
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--content-font-color);
}
app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color: #161616;
    --primary-color-d: #101010;

    --header-font-color: #cddad5;
    --content-font-color: #dedede;
    --content-font-color-d: #828282;
    --content-font-color-b: #ffffff;


    --accent-color:    #0ba77d;
    --accent-color-t:  #00ff9959;
    --accent-color-tt: #0ba77d44;
    --accent-color-b:  #0eb98c;
    --accent-color-b2: #14dda8;
    --accent-color-b3: #18f5ba;
    --accent-color-d:  #09916c;
    --accent-color-d2: #077457;
    --accent-color-d3: #05684d;
    --accent-color-d4: #034130;
    --accent-color-d5: #021f17;
    --accent-color-d6: #010c09;

    --delete-color: #681b22;
    --delete-color-b: #b82935;
    --delete-color-d: #3d1013;

    --contrast-color: #ca0852;
    --contrast-color-d: #a80241;
    --contrast-color-d2: #94023a;
    --red: #b84444;

    --background:   #2C2C2E;
    --background-b: #3b3b3d;
    --background-d: #212123;
    --background-d2: #111113;

    --border-color: #000003;
    --border-color-b4: #555558; 

    --portfolio-meta-column-width: 220px;
    --portfolio-margin: 20px;
    --portfolio-border-radius: 5px;

    --header-height: 50px;
}

ol, ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
    box-shadow: none;
    margin: none;
    padding: none;
    width: 160px;
    max-width: 100%;
} button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.563);
}
details {
    width: 500px;
    max-width: 90%;
    margin: 20px auto 0px;
    background-color: var(--background-d);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}
.wide-details {
    width: 1000px;
    max-width: 100%;
}
summary {
    padding: 10px 20px;
    color: var(--content-font-color-d);
    max-width: 100%;
}
summary:hover {
    cursor: pointer;
}
form {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    padding: 10px;
    max-width: 100%;
}

label {
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    margin: 1px auto auto 6px;
    color: var(--content-font-color);
}

input {
    width: 220px;
    max-width: 100%;
    height: 28px;
    margin: auto auto auto 0px;
    border-radius: 5px;
    border: 2px solid var(--border-color-b4);
    background-color: var(--background-d2);
    color: var(--content-font-color-d);
    font-weight: bold;
    padding-left: 6px;
}

select {
    width: 220px;
    max-width: 100%;
    height: 28px;
    margin: auto;
    border-radius: 5px;
    border: 2px solid var(--border-color-b4);
    background-color: var(--background-d2);
    color: var(--content-font-color-d);
    font-weight: bold;
    padding-left: 6px;
}
select:hover {
    cursor: pointer;
    border-color: var(--content-font-color-b);
}

.card-container {
    background-color: var(--primary-color-d);
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 100%;
    padding-bottom: 20px;
}

.submit-button {
    margin: 12px auto 0px;
    background-color: var(--accent-color-t);
    height: 38px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--content-font-color);
    border: 2px solid var(--accent-color);
}
.submit-button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.delete-button {
    margin: 12px auto 0px;
    background-color: var(--delete-color-d);
    height: 38px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--delete-color-b);
    border: 2px solid var(--delete-color);
}
.delete-button:hover {
    cursor: pointer;
    color: var(--content-font-color);
    background-color: var(--delete-color);
}

.plain-button {
    margin: 12px auto 0px;
    background-color: var(--primary-color-b);
    height: 38px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--content-font-color-d);
    border: 2px solid var(--content-font-color-d);
}
.plain-button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--content-font-color);
    border: 2px solid var(--content-font-color);
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loading {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: .25rem solid #6a9595;
    border-top-color: var(--accent-color-b);
    color: var(--accent-color);
    padding: auto;
    font-size: 9px;
    animation: spin 1s infinite linear;
    margin: auto;
    display: flex;
}
.loading-text {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width: 400px) {
    .card-container {
        width: 100%;
    }
}