<div class="discgolf-nav">

    <button class="nav-button" (click)="goTo('/rounds')">
        <div class="top">
            <i class="material-icons nav-icon">
                view_list
            </i>
        </div>
        <div class="bottom">
            <div class="label">
                Rounds
            </div>
        </div>
    </button>

    <button class="nav-button" (click)="goTo('/courses')">
        <div class="top">
            <i class="material-icons nav-icon">
                golf_course
            </i>
        </div>
        <div class="bottom">
            <div class="label">
                Courses
            </div>
        </div>
    </button>
    
    <button class="nav-button" (click)="goTo('')">
        <div class="top">
            <img class="nav-icon dg-icon" src="../../../assets/dg-icon.PNG" alt="DG">
        </div>
        <div class="bottom">
            <div class="label">
                Home
            </div>
        </div>
    </button>
    
    <button class="nav-button disabled" (click)="goTo('/stats')">
        <div class="top">
            <i class="material-icons nav-icon disabled">
                bar_chart
            </i>
        </div>
        <div class="bottom">
            <div class="label disabled">
                Stats
            </div>
        </div>
    </button>
    
    <button class="nav-button disabled" (click)="goTo('/players')">
        <div class="top">
            <i class="material-icons nav-icon disabled">
                person
            </i>
        </div>
        <div class="bottom">
            <div class="label disabled">
                Players
            </div>
        </div>
    </button>
</div>