


<details open class="wide-details" *ngIf="categories && labels">
    <summary>
        Budget
    </summary>
    <app-budget-monthly-report
        [budgetid]="'4b8a7cd0-601c-11eb-aa9c-83baf28d5dd7'"
        [month]="'February 2021'"
        
    ></app-budget-monthly-report>
</details>

<details class="wide-details" *ngIf="categories && labels">
    <summary>
        Categories
    </summary>
    <app-category-form [categories]="categories"></app-category-form>
</details>

<details class="wide-details" *ngIf="categories && labels">
    <summary>
        Labels
    </summary>
    <app-label-form [categories]="categories" [labels]="labels"></app-label-form>
</details>
