
.page-not-found {
    height: 100%;
    width: 100%;
    display: flex;
}

.main-image {
    position: absolute;
    top: 100px;
    left: 10%;
    max-height: 60%;
    width: auto;
    z-index: 1;
    opacity: .6;
}

.page-not-found-content {
    font-size: 24px;
    max-width: 80%;
    margin: 100px auto 0px;
    color: white;
}
