<div class="bounce-in-page">

    <div class="title-section">
        <div class="title-top">
            <div class="title-text">POKER</div>
        </div>
        <div class="title-bot">
            <div class="title-text">LEAGUE</div>
        </div>
    </div>

    <div class="content-section">

        <div class="summary-section">
            <div class="summary">
                This league will have a bunch of events. 1 a week for 7 weeks, including
                 a Main Event tournament where your stack is based on your performance in the league.
            </div>
        </div>

        <div class="cash-game-section">
            <div class="cash-game-title-box">
                Cash Game Info
            </div>
            <div class="info-section">
                Dates of the events
            </div>
            <div class="info-section">
                Total points available
            </div>
        </div>

    </div>
</div>

