<div class="bounce-in-page">
    <div class="title-section">
        <div class="title-content">
            <div class="title-top">
                <div class="title-text">POKER</div>
            </div>
            <div class="title-bot">
                <div class="title-text">LEAGUE</div>
            </div>
        </div>
    </div>
    <div class="branding">
        <img class="luis-logo" src="../../../../assets/Luis.JPG">
        <div class="branding-text">Powered by Luis Poker Productions</div>
    </div>

    <div class="content-section">

        <div class="summary-section">
            <div class="summary">
                This 5 session poker journey will pit the greatest gambling minds of Houston Texas
                 head to head in a multi-event challenge all leading up to "The Main Event" where 
                 only one name will be etched into history.
            </div>
        </div>

        <div class="schedule-label">
            <div class="schedule-label-text">
                Schedule
            </div>
        </div>
        <div class="animated bounce cash-game-section">
            <div class="info-section">
                <div class="info-content">
                    Cash Game
                </div>
            </div>
            <div class="info-section alt">
                <div class="info-content">
                    Total points available
                </div>
            </div>
            <div class="info-section">
                <div class="info-content">
                    Dates of the events
                </div>
            </div>
            <div class="info-section alt">
                <div class="info-content">
                    Total points available
                </div>
            </div>
            <div class="info-section-thin">
                <div class="info-content">
                    final notes
                </div>
            </div>
        </div>

        <div class="animated bounce cash-game-section">
            <div class="cash-game-title-box">
                <div class="info-content">
                    Cash Game Info
                </div>
            </div>
            <div class="info-section">
                <div class="info-content">
                    Dates of the events
                </div>
            </div>
            <div class="info-section alt">
                <div class="info-content">
                    Total points available
                </div>
            </div>
            <div class="info-section-thin">
                <div class="info-content">
                    final notes
                </div>
            </div>
        </div>

        <div class="animated bounce cash-game-section">
            <div class="cash-game-title-box">
                <div class="info-content">
                    Tournament Info
                </div>
            </div>
            <div class="info-section">
                <div class="info-content">
                    Dates of the events
                </div>
            </div>
            <div class="info-section alt">
                <div class="info-content">
                    Total points available
                </div>
            </div>
            <div class="info-section-thin">
                <div class="info-content">
                    final notes
                </div>
            </div>
        </div>

    </div>
</div>

