.edit-form {
    position: fixed;
    width: 200px;
    height: 200px;
    left: calc(48% - 100px);
    top: calc(30% - 100px);
}

.wide-details {
    display: flex;
    max-width: 100%;
}

.monthly-report {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* min-height: 200px; */
    width: 90%;
    max-width: 900px;
    margin: auto;

    background-color: white;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356); */
    border: solid 2px black;
    border-radius: 1px;
}

.month-selection {
    width: 94%;
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 1px solid #888888;
    margin: 0px auto;
}

.labeled-select {
    width: 160px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.budgeted-amount {
    width: 160px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.budget {
    height: 30px;
    width: 100%;
    display: flex;
}
.budget-text {
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto auto auto 2px;
}

select {
    height: 30px;
    width: 100%;
    padding: auto 5px;
    font-size: 16px;
    margin: auto;
}
select:hover {
    cursor: pointer;
}

.label {
    font-size: 12px;
    color: #999999;
    margin: auto auto auto 4px;
}

.go-container {
    height: 50px;
    display: flex;
    margin: auto;
}

.go {
    width: 80px;
    height: 40px;
    margin: 1.5px auto auto auto;
    background-color: var(--primary-color);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    display: flex;
}
.go:hover {
    cursor: pointer;
    background-color: var(--primary-color-b);
}

.go-text {
    color: #EEEEEE;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    max-width: 100%;
}
.incomes {
    width: fit-content;
    margin: 10px auto;
    padding: 15px 0px;
    max-width: 100%;
    border: 1px solid var(--content-font-color-d);
}
.targets {
    padding-bottom: 25px;
    width: fit-content;
    margin: 10px auto;
    max-width: 100%;
}
.amount {
    width: 125px;
    max-width: 24.5%;
}
.total {
    font-weight: bold;
    font-size: 14px;
}
.title-row {
    width: 100%;
    display: flex;
}
.title {
    font-size: 20px;
    margin: auto auto 20px auto;
}

.name {
    width: 120px;
    margin-bottom: 10px;
}

.cats {
    width: 150px;
}
input {
    width: 100px;
}
button {
    width: 90px;
    height: 32px;
}
.edit-button {
    width: 28px;
    height: 24px;
    background-color: inherit;
    color: var(--content-font-color);
    border: 2px solid var(--content-font-color);
    border-radius: 3px;
}
.edit-icon {
    font-size: 16px;
}
.clickable:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

form {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 400px) {


    .budgeted-month {
        width: 100%;
        font-size: 10px;
    }
    .targets {
        width: 100%;
    }
    form {
        width: 84%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        padding: 10px 4px 20px 4px;
        border: solid 1px var(--primary-color);
        margin: auto auto 20px auto;
    }
    .form-field {
        display: flex;
        flex-direction: row;
    }
    label {
        margin-top: auto;
    }
    .amount {
        font-size: 9px;
        margin: 4px auto;
    }
    .row {
        width: fit-content;
        margin: auto;
    }
    .target {
        width: 100%;
        display: flex;
    }
    .total {
        margin-bottom: 6px;
    }
}