
.select-option:hover {
    cursor: pointer;
    color: var(--content-font-color-b);
    background-color: var(--background);
}

.text-row {
    display: flex;
    width: 90%;
    padding: 4px 20px;
    border-bottom: 1px solid var(--content-font-color-d);
    color: var(--content-font-color);
    margin: 0px auto;
}
.head-text-row {
    display: flex;
    width: 90%;
    padding: 6px 20px;
    border-bottom: 2px solid var(--content-font-color-d);
    border-top: 2px solid var(--content-font-color-d);
    color: var(--content-font-color);
    margin: 2px auto;
    font-weight: bold;
}

.text-col {
    width: 210px;
    padding-left: 10px;
}

.label-list {
    width: 900px;
    max-height: 700px;
    overflow-y: scroll;
}