
.course-editor {
    width: 100%;
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: var(--content-font-color);
    max-width: 500px;
    margin: 0px auto;
}

.courses-label {
    margin-left: 6%;
    margin-bottom: 2px;
}
.courses {
    padding: 6px;
    border: 2px solid var(--background-b);
    width: 85%;
    margin: auto;
}

.course-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--background);
    border-radius: 4px;
    background-color: var(--accent-color-tt);
    padding-bottom: 2px;
    margin: 4px auto;
}
.course-row:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

.wide-details {
    width: 90%;
    padding-bottom: 20px;
}

.course-select {
    margin: auto 0px 0px auto;
    height: 24px;
}
.check {
    color: var(--accent-color);
}
.check-empty {
    color: var(--content-font-color);
}

.course-name {
    margin: auto auto auto 0px;
}

.add-new-course {
    padding-top: 10px;
    border-top: solid 2px var(--primary-color-d);
}

.new-course-form {
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.number-input {
    width: 60px;
    margin-left: 0px;
    margin-right: auto;
}

.new-course-button {
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin: 15px auto;
}

.add-text {
    margin: auto;
}

.labeled-field {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 15px auto;
}
