<div class="animated bounce section">
    <div class="section-title">{{title}}</div>
    <div class="section-content">
        My core values are <span class="emphasized">truth</span>, <span class="emphasized">integrity</span>, and <span class="emphasized">love</span>. This foundation comes from my faith in Jesus Christ who has shaped my life since 2017.
        Practically, I hope that each person I work with feels respected and cared for, and also feels proud of the work we do together - not taking shortcuts; doing things right.
    </div>
</div>
