.transactions {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
}

.transaction-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow-y: scroll;
    border-bottom: 1px solid black;
}

.empty {
    color: var(--content-font-color-d);
    margin: auto;
}


@media screen and (max-width: 400px) {
    .transactions {
        width: 100%;
    }
}