<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" *ngIf="!loading">

    <div class="form-field">
        <input id="loginUsername" type="text" formControlName="loginUsername">
        <label for="loginUsername"> username </label>
    </div>
    <div class="form-field">
        <input id="loginPassword" type="password" formControlName="loginPassword">
        <label for="loginPassword"> password </label>
    </div>

    <button class="top-button" type="submit">Log In</button>
    
    <div class="validation-text-container">
        <div class="validation-text" *ngIf="validationText.length > 0">
            {{validationText}}
        </div>
    </div>

    <!-- <button class="new-account-button" (click)="goTo('user/create')">Create New Account</button> -->
</form>

<div class="loading" *ngIf="loading">
    Loading...
</div>