<div class="home">
    <img class="hero-image" src="../../../assets/bransonsmithdev-home-illustration-transparent.png">

    <div class="content">
        <div class="text-box">
            <div class="title">Hi, I'm Branson</div>
            <div class="tag-line">I make Web Apps</div>
            <div class="tag-line accented">For work, For fun, For you</div>
        </div>

        <button class="lets-go-button" (click)="navigateToProjectPage()">
            <div class="button-content">
                <div class="button-text">Let's Go!</div>
                <i class="material-icons">exit_to_app</i>
            </div>
        </button>
    </div>
</div>